.card {
	max-width: 170px;
	border-radius: 0;
	border: 2px solid black;
	margin: 7px;
	padding: 0;
}

.card:hover {
	transform: scale(1.075);
	transition: width 0.15s, height 0.15s, transform 0.15s;
}

.card img {
	border-radius: 0 !important;
	height: 170.5px;
}