.display-4, .lead, .instructions {
	text-align: center;
}

.display-4 {
	font-family: Quattrocento Sans, serif;
	font-weight: bold;
}

.lead {
	font-family: Bad Script;
	font-style: italic;
	font-size: 40px;
}

.instructions {
	font-family: Quattrocento Sans, sans-serif;
	font-size: 25px;
}

.jumbotron {
	background-image: url("../../images/parchment-music.jpg");
	background-position: center center;
	background-size: cover;
	margin-bottom: 0;
	border-radius: 0;
}

/*Bad+Script|Merriweather|Quattrocento+Sans*/